<h1 class='text-center'>R-CH<sub>2</sub>-OH</h1>

<div class="container">
  <%= link_to "Add Alcohol", new_cocktail_path, class: 'btn btn-dark' %>
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="card col-sm-6 col-lg-2 m-2">
        <h4>
          <%= link_to c.name, cocktail_path(c) %>
        </h4>
        <% c.ingredients.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
        <p><%= link_to "Delete", cocktail_path(c), method: :delete%></p>
      </div>
    <% end %>
  </div>
</div>
